{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <title>Книжное издательство</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header class="main-header"></header>
    <div class="content-container">
        <div class="order-card">
            <rect style="width:48px; height: 48px; background-color: blue;"></rect>
            <a href="{% url 'order' 0 %}">Выбрано услуг: {{ data.count }}</a>
        </div>
        <p class="services-page-title">Услуги издательства</p>
        <div class="search-container">
            <input class="search-input" type="search" placeholder="Введите наименование услуги"></input>
            <button class="search-button">Поиск</button>
        </div>
        <div class="cards-container">
            {% for service in data.services %}
            <div class="main-service-card">
                <rect style="height: 170px; width: fill; background-color: blue;">

                </rect>
                <div class="main-service-info">
                    <p class="main-service-card-title">{{ service.title }}</p>
                    <p class="main-service-card-price">{{ service.price }}</p>
                </div>
                <div class="down">
                    <a href="{% url 'service_url' service.id %}" class="main-read-more-button" role="button">Читать подробнее</a>
                </div>
            </div>
            {% empty %}
            <p>Список пуст</p>
            {% endfor %}
        </div>
    </div>
</body>

</html>