{% extends 'base.html' %}

{% block title %}Заявка{% endblock %}

{% block content %}
<div class="order-page-content-container">
    <p class="order-page-title">Заявка №{{data.id}}</p>
    <div class="order-info-content-container">
        <p class="order-info-field-title">Формат:</p>
        <div class="order-info-input">{{data.format}}</div>
        <p class="order-info-field-title">Тираж (шт.):</p>
        <div class="order-info-input">{{data.circulation}}</div>
    </div>

    {% for service in data.services %}
    <div class="selected-service-card">
        <img src="{{ service.service_img_src }}" alt="{{service.title}}" class="selected-service-img"></img>
        <div class="selected-service-info-content-container">
            <p class="selected-service-title">{{ service.title }}</p>
            <p class="selected-service-price">{{ service.price }}</p>
            <div class="selected-service-rate-container">
                <p class="selected-service-rate">{{ service.rate }}</p>
            </div>
            <!-- <select style="font-size: 16px; font-weight: 500; padding: 5px 11px;">
                    <option>Тариф "Базовый"</option>
                    <option>Тариф "Премиум"</option>
                    <option>Тариф "Профессиональный"</option>
                </select> -->
        </div>
    </div>
    {% endfor %}
    {% endblock %}
</div>